
 <ion-content>
   <br><br><br>
  <ion-card class ="cards" (click)="scan()" >
    <ion-icon class ="iconSize" name="camera-outline"></ion-icon><br>
    <ion-label  >&#160;&#160;Escanea el codigo QR para la asistencia</ion-label><br><br>
  </ion-card>
  <ion-card class ="cards" (click)="faq()">
    <ion-icon class ="iconSize" name="information-circle-outline"></ion-icon><br>
    <ion-label  >&#160;&#160;Ingresa a la sección de pregunta frecuentes</ion-label><br><br>
  </ion-card>
 </ion-content>
