
 <ion-content>
  <br><br>
 <ion-card id ="cardLog">
  <ion-card-content id ="cardCont">
      
      <h1 id ="iconLog">Portal de Inicio </h1>
      <h3> <em>"Recuerde que su usuario corresponde a su rut"</em></h3>
      <ion-item >
        <ion-label position="floating"> Usuario</ion-label>
        <ion-input type="text" [(ngModel)] = "user"></ion-input>
      </ion-item>
    
      
      <ion-item>
        <ion-label position="floating"> Clave </ion-label>
        <ion-input [(ngModel)] = "pass" type="password" minlength="4" maxlength="12" required autofocus ></ion-input>
      </ion-item>
    
      <ion-button expand="full" shape="round" color="warning" (click)="iniciar()" >Iniciar sesion</ion-button>
    
  </ion-card-content>
 </ion-card>
</ion-content>